[submodule "config-server"]
	path = config-server
	url = https://github.com/dvish2003/taskflow-config-server.git
[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/dvish2003/taskflow-eureka-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/dvish2003/taskflow-api-gateway.git
